.article {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5vh;
}
.h2 {
  font-size: 2.5em;
  letter-spacing: 1.7px;
  width: 100%;
  padding-left: 10%;
  color: #f7f7f7d7;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f70e;
  height: 60%;
  width: 80%;
  border-radius: 5px;
  gap: 2em;
}
.input {
  height: 5vh;
  width: 70%;
  border: transparent;
  border-left: solid rgb(224, 198, 132);
  background-color: #f7f7f70e;
  padding: 0 0.25em;
  font-size: 1.7em;
  color: #f7f7f7;
  outline: none;
}
.input::placeholder {
  color: #f7f7f7be;
}

.submit {
  margin-top: 2.5vh;
  height: 5vh;
  width: 35%;
  border: transparent;
  font-size: 1.7em;
  background-color: rgba(224, 198, 132, 0.855);
  color: rgba(4, 23, 37, 0.631);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(224, 198, 132);
  transition: 0.3s;
  color: rgba(4, 23, 37, 0.846);
}
.p {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 1vh;
}
.p:hover {
  text-decoration: underline;
}
