.headerOut,
.headerIn {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
}
.headerIn {
  justify-content: space-between;
}

.h1 {
  font-size: 4em;
  letter-spacing: 3px;
  color: rgb(224, 198, 132);
}

.logout {
  font-size: 1.9em;
  color: #f7f7f7e9;
}
.logout:hover {
  color: #f7f7f7;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: underline;
}
